@model Modelo.Entidades.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", "Cliente", new { id = Model.ClienteId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Cancelar", "Index", "Cliente", new { @class = "btn btn-default" })
</p>
